<table class="table table-bordered">
  <thead>
  <tr>
    <td> Movie </td>
    <td> Rank </td>
    <td> Upvote </td>
  </tr>



      <% @movies.each do |movie| %>
      <tr>
  <td data-field = 'name'><%= movie.name %> </th>
  <td data-field = 'ranking'><%= movie.rank %> </th>
  <td data-field = 'upvote'><button><%= link_to '+', movie_upvote_path(:id => movie.id) %></button> </th>
  </tr>
  <% end %>

</thead>
</table>
