<body>
<div class='container'>
  <div class="row">
    <div class='sidebar col-lg-4'>
      <h2> Top Movies: </h2>
      <% @movies.each do |movie| %>
        <br> <%= link_to movie.name, movies_path(movie.id) %> </br>
      <% end %>
    </div>

    <div class="main col-lg-4">
      <h2> Top Books: </h2>
      <% @books.each do |book| %>
        <br> <%= link_to book.name, book_path(book.id) %> </br>
      <% end %>
    </div>

    <div class = "right col-lg-4">
      <h2> Top Albums: </h2>
      <% @albums.each do |album| %>
        <br> <%= link_to album.name, album_path(album.id) %> </br>
      <% end %>
    </div>
  </div>
</div>


</body>
