<table class="table table-bordered">
  <thead>
  <tr>
    <td> Title </td>
    <td> Rank </td>
    <td> Upvote </td>
  </tr>



      <% @books.each do |book| %>
      <tr>
  <td data-field = 'name'><%= book.name %> </th>
  <td data-field = 'ranking'><%= book.rank %> </th>
  <td data-field = 'upvote'><%= link_to 'upvote', book_upvote_path(:id => book.id) %> </th>
  </tr>
  <% end %>

</thead>
</table>
