<table class="table table-bordered">
  <thead>
  <tr>
    <td> Album</td>
    <td> Rank </td>
    <td> Upvote </td>
  </tr>



      <% @albums.each do |album| %>
      <tr>
  <td data-field = 'name'><%= album.name %> </th>
  <td data-field = 'ranking'><%= album.rank %> </th>
  <td data-field = 'upvote'><button><%= link_to '+', album_upvote_path(:id => album.id) %> </button></th>
  </tr>
  <% end %>

</thead>
</table>
