<!DOCTYPE html>
<html>
<head>
  <div class = "image">
    <img src="http://www.clker.com/cliparts/q/A/b/K/u/Q/owl-letter-m-pink-and-yellow-hi.png" alt="..." height= 100px width= 100px class="img-rounded">
  </div>

  <div class = "hey">
  <t></t></t> Mediaranker.<small>The place to be.</small>
  </div> <br></br>

<hr>

</hr>
  <title>Mediaranker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
   <link href="css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

      <%= yield %>

</body>
</html>
